
* {
  margin: 0;
}

main {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

/* header */
.normal-nav {
  padding: 0.5vw;
  display: flex;
  align-items: center;
}
.logo {
  height: 120px;
}

.nav-items ul {
  display: flex;
}
.nav-items li {
  list-style: none;
  padding: 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #171520;
  font-size: 1.5rem;
}

.search-box {
  height: 5vh;
  width: 30vw;
  background: #f1f1f1;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.search-box img {
  height: 1.7rem;
  padding: 0.5vw;
}
.search-box input {
  background: #f1f1f1;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}
.profile-icons {
  display: flex;
  align-items: center;
}

.profile-icons img {
  height: 1.9rem;
  padding: 0.5vw;
}

.right-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

a {
  color: black;
  text-decoration: none;
}
/* end of header */

.hamburger {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

/* position navbar container */
.nav-hamburger-container {
  display: block;
  position: relative;
  height: 60px;
  z-index: 100;
}
.hamburger .menu-items li a {
  text-decoration: none;
}
.nav-hamburger-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

/* position hamburger lines */
.nav-hamburger-container .hamburger-lines {
  display: block;
  height: 1.5rem;
  width: 2rem;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* further format hamburger lines */
.nav-hamburger-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* handle animations for hamburger lines */
.nav-hamburger-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-hamburger-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-hamburger-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

/* end of handle animations for hamburger lines */

/* format menu items */
.hamburger .menu-items {
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.hamburger .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
/* end of format menu items */

/* logo formating */
.ham-logo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  color: #0e2431;
  margin: 8px;
}
.ham-logo img {
  object-fit: contain;
  height: 48px;
  width: 80px;
}
/* end of logo formating */

.nav-hamburger-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

/* handle hamburger animation */
.nav-hamburger-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line1 {
  transform: rotate(45deg);
}

.nav-hamburger-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line2 {
  transform: scaleY(0);
}

.nav-hamburger-container
  input[type="checkbox"]:checked
  ~ .hamburger-lines
  .line3 {
  transform: rotate(-45deg);
}

.nav-hamburger-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.menu-items {
  list-style-type: none;
}
.mob-option {
  color: unset;
  color: white;
  font-size: 4rem;
}
/* end of handle hamburger animation */

/* Custom user Profile Drop down  */
.cm_drop-down_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-down {
  display: inline-block;
  position: relative;
}

.drop-down__button {
  background: linear-gradient(to right, #3d6def, #8fadfe);
  display: inline-block;
  line-height: 40px;
  padding: 0 18px;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.drop-down__name {
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
}

.drop-down__icon {
  vertical-align: middle;

  height: 18px;
}

.drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}
.drop-down__menu-box:before {
  content: "";
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}

.drop-down__menu-box:after {
  content: "";
  background-color: transparent;
}

.drop-down__item {
  font-size: 1rem;
  padding: 13px 0;
  text-align: left;
  font-weight: 500;
  color: #909dc2;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
}

.drop-down__item:hover {
  color: #3d6def;
}

.drop-down__item:last-of-type {
  border-bottom: 0;
}

.drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
  z-index: 100;
}

.drop-down__item:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #3d6def;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.inner_header_inner {
  display: flex;
  align-items: center;
  gap: 25px;
}
.drop-down__item:hover:before {
  display: block;
}

.main-content {
  padding-top: 3vh;
}

.hero {
  background-image: url("../public/assets/imgs/repair1.jpeg");
  height: 40vmin;
  background-size: cover; /* or contain, depending on your preference */
  border-radius: 24px;
  background-position: 50% 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-content {
  background: rgba(222, 222, 222, 0.7);
  backdrop-filter: blur(2.5px);
  border-radius: 24px;

  width: 50%;
  color: #1b4b66;
  padding: 1.8vw;
}

.hero-content h1 {
  font-size: 1.5rem;
}

.hero-content > p {
  font-family: "Inter";
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.hero-content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b4b66;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  width: 30vw;
}

.hero-content-button img {
  padding-left: 1vw;
  padding-right: 1vw;
}
.hero-content-button p {
  padding-right: 1vw;
  font-size: 0.5rem;
}
.hero-content button img {
  height: 1.5em;
}
.carousel-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.h-item-row-2 h2 {
  font-size: 1em;
}
.h-item-row-2 img {
  width: 1.5em;
}

.owl-carousel .owl-item .heart-home img {
  width: 1rem;
  height: auto;
}
.h-item-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.text-rows {
  display: flex;
  flex-direction: column;
}
.greyed-out {
  color: #626262;
}

.headings-Home {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

.owl-carousel .owl-item img {
  height: 15vh;
  object-fit: contain;
  object-position: center;
}
.categories {
  display: flex;
  flex-direction: column;
}

.categories .row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}
.categories img {
  width: 11rem;
  border-radius: 24px;
}

.categories-container {
  background-color: #1b4b66;
}

.cat {
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
}

.shop-by-brand {
  color: white;
  padding: 1.5vmin 3vmin 1.5vmin 3vmin;
  background-color: rgb(23 23 23);
}

/* footer */
footer {
  width: 100%;
  bottom: 0;
  background: #1b4b66;
  display: flex;
  flex-direction: column;
}

.footer-column {
  position: relative;
  padding: 3vmin;
}

.footer-column-title {
  padding: 0;
  margin: 0;
  position: relative;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.footer-column-items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  list-style-type: none;
}

.footer-column-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #b6b6b6;
}

.footer-right {
  text-align: right;
  right: 0%;
  padding: 3vmin;
}

.footer-logos img {
  height: 38px;
  width: auto;
  padding-left: 0.7vw;
}

.location {
  margin-top: 2vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}

.legal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;

  color: #b6b6b6;
}
.columns {
  display: flex;
}
/* end of footer */

.hero-catalog {
  background-color: #ebeef7;
  height: 40vmin;
  background-size: cover;
  border-radius: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1vh;
}

.hero-catalog img {
  height: 40vmin;
  padding-left: 4vw;
}
.hero-catalog-title {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.main-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-box {
  width: 90%;
}
.filter-box-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
}
.filter-box-row span {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.filter-box-row img {
  height: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
}
.product-row {
  /* display: flex;
    flex-direction: column;
    align-content: center; */
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px; /* Adjust the desired padding between rows */

  list-style: none;
  padding-left: 0;
}
.item-row-1 {
  display: flex;
  justify-content: left;
  align-items: center;
}

.item-row-1 img {
  height: 9rem;
}
.item-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}
.item-row-2 h2 {
  font-size: 1.3rem;
}
.item-row-2 img {
  height: 2rem;
}


.product-row li{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.products{
    margin-bottom: 1vh;
}


.owl-carousel .owl-item .product-img img {
    height: 40vh;

}

.product-carousel{
    margin-top: 20px;
}
.product-info{
    margin: 1vh;

}
.product-info h1{
    font-size: 1.5rem ;
    padding-bottom: .7vh;
}
.product-info h2{
    padding-bottom: .7vh;
    font-size: 1.2rem;
}
.product-info p{
    padding-bottom: .7vh;
}

.product-bottom img{
    height: 2.5rem;
}
.product-heart{
    background-color: #F4F4F4;
    border-radius: 8px;
    padding: 5px;
    margin-right: 4vw;
}
.product-bottom{
    display:flex;
    margin-left: 5vw ;
    margin-right: 5vw;
    margin-top: 3vh ;
    margin-bottom: 3vh ;
}

.add-to-bag img{
    padding-right: 15px;
}
.add-to-bag{
    align-items: center;
    justify-content: center;
    background-color: #1b4b66;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    width: 80vw;
    display: flex;
    padding: 5px;

}

.card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    padding: 2rem;
}


.similar-wrap{
    margin-bottom: 3vh;
}
.simialer-container{
    display: flex;
    justify-content: center;

}


.add-to-bag{
    font-size: 1rem;
}
.fav-top{
    margin:15px ;
    text-align: center;
}
.favorite-list{
    margin: 2vw;
}

.signup-signin-form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  }

  .login-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1b4b66;
  border-radius: 8px;
  color: #ffffff;
  border: none;
    cursor: pointer;
  }

  

  .signup-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #1b4b66;
  border-radius: 8px;
  color: #ffffff;
  border: none;
    cursor: pointer;
  }


@media (max-width: 1024px) {
  .normal-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 3vw;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .product-row {
    /* display: flex;
      flex-direction: column;
      align-content: center; */
    
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px ;
  }
  .item-row-1 img {
    height: 5rem;
}
.item-row-2 h2 {
    font-size: 1rem;
}
.item-row-2 img {
    height: 1.5rem;
}
.product-row p{
    font-size: .8rem;
}
}

@media (min-width: 1024px) {
  html {
    font-size: 1vw;
  }

  .hamburger {
    display: none;
  }
  .categories {
    flex-direction: row;
    justify-content: center;
  }

  .row img {
    margin-left: 5vw;
    margin-bottom: 2vh;
    height: 18rem;
    width: auto;
  }

  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content > p {
    font-size: 1.5rem;
    width: 30rem;
    margin-bottom: 10px;
  }
  .hero-content-button p {
    padding-right: 1vw;
    font-size: 0.8rem;
  }
  .hero-content button img {
    height: 1.9em;
  }

  .hero-content-button {
    width: 10rem;
  }
  .product-row {
    /* display: flex;
      flex-direction: column;
      align-content: center; */
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:20px ;
  }
  .item-row-1 img {
    height: 12rem;
}
.item-row-2 h2 {
    font-size: 1.5rem;
}
.item-row-2 img {
    height: 2rem;
}
.product-row p{
    font-size: 1.3rem;
}
.main-catalog {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
}
.filter-box{
    margin-right: 20px;
}
.main-catalog{
    margin-top: 20px;
}

.product-info p{
    font-size: 1.5rem;
    width: 50vw;
}
.product-info h2{
    font-size: 1.9rem;
   
}
.product-info h1{
    font-size: 1.9rem;
   
}
.product-heart{
    margin-right: 2vw;
}
.add-to-bag{
    width: 30vw;
}
.product-stuff{
    display:flex;
}
.product-bottom{
    align-items: end;
}
}
